<header>
  <nav class="bg-gray-100 p-4 flex justify-between items-center">
    <div class="flex items-center space-x-4">
      <a class="text-xl font-bold" href="/">cool AF</a>
      <ul class="flex space-x-4">
        <li class="nav-item">
          <!-- Navigates to home page -->
          <a class="text-gray-700 hover:text-gray-900" href="/">Home</a>
        </li>
        <li class="nav-item">
          <!-- Navigates to courses page -->
          <a class="text-gray-700 hover:text-gray-900" href="/courses">Courses</a>
        </li>
        <li class="nav-item">
          <!-- Navigates to logout page -->
          <a class="text-gray-700 hover:text-gray-900" href="/logout">Log Out</a>
        </li>
      </ul>
    </div>

    <div class="flex items-center space-x-4">
      <ul class="flex space-x-4">
        <li class="nav-item">
          <a class="text-gray-700 hover:text-gray-900" href="#">{{email}}</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
