{{>head}}

<body style="background-color: #2e0000; color: white; font-family: Arial, sans-serif; text-align: center;">
{{#if error}}
  <p style="color: red;">{{error}}</p>
{{/if}}
    <h2 style="margin-top: 50px;">Welcome back!</h2>

    <form action="/login" method="POST" style="background-color: #420000; padding: 20px; width: 300px; margin: 20px auto; border-radius: 8px; box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);">
        <label for="username" style="display: block; margin-bottom: 5px; font-weight: bold;">Username</label>
        <input type="text" name="username" id="username" style="width: 100%; padding: 8px; margin-bottom: 15px; border: 1px solid #610000; border-radius: 4px; background-color: #610000; color: white;">
        <label for="password" style="display: block; margin-bottom: 5px; font-weight: bold;">Password</label>
        <input type="password" name="password" id="password" style="width: 100%; padding: 8px; margin-bottom: 15px; border: 1px solid #610000; border-radius: 4px; background-color: #610000; color: white;">
        <input type="submit" value="Log in" style="width: 100%; padding: 10px; background-color: #8b0000; color: white; border: none; border-radius: 4px; font-weight: bold; cursor: pointer;">
    </form>

</body>

